<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="cacheEnabled" value="true"/>
        <!--日志打印-->
        <!--<setting name="logImpl" value="STDOUT_LOGGING" />-->
    </settings>

    <typeAliases>
        <typeAlias type="com.harry.api.entity.NotifyTemplateEntity" alias="NotifyTemplateEntity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mybatis/mappers/NotifyMapper.xml"/>
    </mappers>

</configuration>